#chat-toggler {
  background-color: #33393a;
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  text-decoration: none;
  border-top-left-radius: 10px;
  width: 420px;
}

.dropdown-menu {
//  height:500px;
//  max-height:500px;
  background-color: var(--body-bg);
}
